/* = UTILITY BAR */
#utility-bar {
  display: table;
  width: 100%;
  /*table-layout: fixed;*/
}

#utility-bar > div {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
}

#utility-bar .utility-left {
  padding: 0.5em 0 0.5em 0.75em;
}

#utility-bar .utility-right {
  text-align: right;
  padding: 0 0.75em 0 0;
}

#utility-bar h3 {
  margin: 0;
}


#verse-box {
  padding: 1em;
  padding-top: 0.25em;
}


/* = UTILITY BUTTONS */
.utility-right button {
  /*font-size: 16px;*/
  padding: 0.25em;
  background-color: transparent;
  border: none;
  font-size: 1.25em;
  margin: 0 5px;
  height: 100%;
  cursor: pointer;
}


/* = VERSE BOX BAR */

#verse-box .verse {
  margin: 0.75em 0;
  display: table;
  table-layout: fixed;
  width: 100%;
}

#verse-box .verse .verse-number {
  display: table-cell;
  font-size: small;
  width: 1.5em;
  margin: 0;
  padding-right: 0.5em;
  vertical-align: baseline;
}

#verse-box .verse .verse-text {
  display: table-cell
  font-size: large;
  line-height: 1.5em;
  cursor: pointer;
}

#verse-box .verse.highlight .verse-text {
  background-color: rgba(255,255,255, 0.5);
}
